--editable dreamerv3
ipdb==0.13.13
wandb==0.17.3
moviepy==1.0.3
imageio==2.34.2
opencv-python==4.10.0.84
ruamel.yaml==0.18.6
rich==13.7.1
cloudpickle==3.0.0
tensorflow==2.16.2
tensorflow-probability==0.24.0
dm-sonnet==2.0.2
optax==0.2.2
plotly==5.22.0
msgpack==1.0.8
pyzmq==26.0.3
colored==2.2.4
matplotlib==3.9.0
